@media only screen and (min-width: 1200px) {
    .location-map {
        max-width: 100% !important;
    }
    .product{
        display: block !important;
    }
}

@media only screen and (max-width: 992px) {
    .product {
        display: none;
    }
    .hang-moi-ve span {
        width: 97% !important;
    }
    .aaa {
        margin-left: 0 !important;
        margin-top: 5px;
    }
    .show-right button {
        width: 22% !important;
    }
    .header {
        display: none;
    }
    .slick-slide img {
        width: 100% !important;
    }
    .sub-img, .sub-img a {
        text-align: center !important;
    }
    .owl-theme .owl-dots .owl-dot {
        display: none;
    }
    .banner-left {
        margin: 10px;
    }
    .responsive {
        display: block !important;
    }
    .hide {
        display: none;
    }
    .click-1 .aaa img {
        width: 15% !important;
        transform: translateX(150%);
    }
    .click-1 {
        text-align: center;
        /* transform: translateX(70px); */
        margin-top: 10px;
    }
    .img-logo-footer img {
        transform: translateX(0) !important;
    }
    .title-top h4 {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
        text-align: center;
    }
    .location-map {
        width: 100%;
        margin-top: 25px;
    }
    .part-2 {
        display: none;
    }
    .img-logo-footer {
        margin: 0 auto !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-logo-footer img {
        margin: 0 auto !important;
    }
    .info a{
        font-size: 13px !important;
        text-align: center;
        line-height: 20px !important;
    }
    .info p{
        font-size: 13px !important;
        text-align: center;
    }
    .social-btns{
        position: static !important;
    }
}

@media only screen and (max-width: 576px) {
    .part-2 {
        display: none;
    }
    .location-map {
        width: 100%;
    }
    .bbb::before {
        display: none;
    }
    .title-top h4 {
        font-size: 20px !important;
    }
    .info a {
        text-decoration: none;
        color: white;
        display: block;
        line-height: 30px !important;
        font-size: 13px !important;
    }
    .info p {
        font-size: 14px !important;
        white-space: nowrap !important;
        line-height: 20x !important;
    }
    .bbb:nth-child(3) {
        margin-top: 50px;
    }
    .social-btns {
        left: 15px !important;
    }
    .sub-img span {
        margin-right: 0 !important;
    }
    /* .img-logo-footer img{
        transform: translateX(0) !important;
    } */
    .show-right button {
        width: 45% !important;
    }
    .view-all {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-logo-footer {
        margin: 0 auto !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-logo-footer img {
        margin: 0 auto !important;
    }
}

@media only screen and (min-width: 476px) {
    .bbb {
        width: 50% !important;
    }
    .bbb:nth-child(3) {
        margin-top: 0 !important;
    }
    .bbb::before {
        display: block;
    }
    .title-top h4 {
        font-size: 18px !important;
    }
    .info p {
        line-height: 20px !important;
    }
   .bbb {
        width: 100% !important;
        
    }
    
}

@media only screen and (max-width: 475px) {
    .bbb {
        text-align: center;
    }
    .social-btns {
        width: 95% !important;
    }
    .info p {
        line-height: 20x !important;
    }
    .img-logo-footer {
        margin: 0 auto !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-logo-footer img {
        margin: 0 auto !important;
    }
    .view-all {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}