@media only screen and (max-width: 767px) {
    .product {
        display: none;
    }
    .hang-moi-ve span {
        width: 97% !important;
    }
    .aaa {
        margin-left: 0 !important;
        margin-top: 5px;
    }
    .show-right button {
        width: 45% !important;
    }
    .header {
        display: none;
    }
    .slick-slide img {
        width: 100% !important;
    }
    .sub-img, .sub-img a {
        text-align: center !important;
    }
    .owl-theme .owl-dots .owl-dot {
        display: none;
    }
    .banner-left {
        margin: 10px;
    }
    .responsive {
        display: block !important;
    }
    .hide {
        display: none;
    }
    .click-1 .aaa img {
        width: 15% !important;
        transform: translateX(150%);
    }
    .click-1 {
        text-align: center;
        /* transform: translateX(70px); */
        margin-top: 10px;
    }
    .img-logo-footer img {
        transform: translateX(0) !important;
    }
    .title-top h4 {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
        
    }
    .location-map {
        width: 100%;
    }
    .part-2 {
        display: none;
    }
    
    
}

@media only screen and (max-width: 575px) {
    .part-2 {
        display: none;
    }
    .location-map {
        width: 100%;
    }
    .bbb::before {
        display: none;
    }
    .title-top h4{
        font-size: 20px !important;
    }
    .info a {
        text-decoration: none;
        color: white;
        display: block;
        line-height: 30px !important;
        font-size: 13px !important;
    }
    .info p{
        font-size: 14px !important;
        white-space: nowrap !important;
    }
    .bbb:nth-child(3) {
        margin-top: 50px;
    }
    .social-btns {
        left: 15px !important;
    }
    .sub-img span {
        margin-right: 0 !important;
    }
    /* .img-logo-footer img{
        transform: translateX(0) !important;
    } */
}